.row{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    margin-bottom: 60px;
}
.next, .del{
    margin-top: 5px;
    height: 40px;
    width: 40px;
    background-color: rgb(72, 155, 72);
    color: #ffffff;
    border-radius: 5px;
    font-size:14px;
    font-weight: bold;
}

.next:hover, .del:hover{
    background-color: #FFFFFF;
    color:#000000
}

.del{
    background-color:#252321;
}

.buttons{
    display:flex;
}

@media(max-width:920px){
    .row{
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 14px;
        border-bottom:2px dashed #FFFFFF;
    }
    .buttons{
        margin-top: 90px;
        justify-content: space-between;
    }
}