.App {
  height: 100vh;
  width: 100vw;
  background-image:url('../../assets/bg.jpg');
}

.row{
  position: fixed; /* Stay in place */
    left: 20%;
    top: 10%;
    width: 700px; /* Full width */
    min-height: 50%; /* Full height */
    max-height: 70%;
    overflow: auto; /* Enable scroll if needed */
    background-color: #d2f1ea; /* Fallback color */
    padding-top: 60px;
    box-shadow: 10px 23px 6px;
    border-radius: 12px;
}

@media(max-width:920px){
  .row{
    left: 3%;
    width: 340px;
  }
}

@media(min-width:1500px){
  .row{
    left: 30%;
  }
}

@media(max-width:768px){
  .row{
    left: 30%;
  }
}

@media(max-width:450px){
  .row{
    left: 10%;
  }
}

@media(max-width:360px){
  .row{
    left: 2%;
  }
}

@media(max-width:375px){
  .row{
    left: 5%;
  }
}

@media(max-width:320px){
  .row{
    left: 0;
  }
}